---
import ExperienceItem from "./ExperienceItem.astro";
import i18next, { changeLanguage, t } from "i18next";

const EXPERIENCIE = [
  {
    date: t("experience.exp1.date"),
    title: t("experience.exp1.title"),
    company: t("experience.exp1.company"),
    description: t("experience.exp1.description"),
    link: "https://github.com/Noeury",
  },
  {
    date: t("experience.exp2.date"),
    title: t("experience.exp2.title"),
    company: t("experience.exp2.company"),
    description: t("experience.exp2.description"),
    link: "https://nivelup.netlify.app/",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
