---
import { t } from "i18next";
const currentYear = new Date().getFullYear();
---

<footer
  class="opacity-80 mt-16 w-full mx-auto container lg:max-w-4xl md:max-w-2xl mb-10"
  role="contentinfo"
>
  <div
    class="rounded-lg w-full max-w-screen-xl mx-auto flex flex-col items-center gap-4 py-4 sm:flex-row sm:justify-between"
  >
    <span class="text-sm text-zinc-800/90 dark:text-zinc-200/90">
      &copy; {currentYear}
      <a
        href="https://github.com/noeury/"
        class="hover:underline focus-visible:underline"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Noeury's GitHub profile"
      >Noeury</a>. All rights reserved.
    </span>
    <nav aria-label="Footer navigation">
      <ul class="flex flex-wrap items-center gap-4 text-sm font-medium dark:text-white/90">
        <li>
          <a href="/#ingestion" class="hover:underline focus-visible:underline transition hover:text-blue-500">
            {t("sectionTitles.about")}
          </a>
        </li>
        <li>
          <a
            href="mailto:noeuryfeliz@gmail.com"
            class="hover:underline focus-visible:underline transition hover:text-blue-500"
          >{t("footer.contact")}</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
